<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <title>Forget Password Email</title>
</head>

<body>
    <div>
        <h3>Dear <%= name ? name : null %>
        </h3>
        <p>You requested for a password reset, kindly use this <a href="<%= url ? url : null %>">link</a> to reset your
            password</p>
        <br>
        <p>Cheers!</p>
    </div>

</body>

</html>